{% extends "main/skeleton.html" %}
{% load staticfiles %}
 
{% block htmlbody %}
	<div id="header">
		<div id="header-content">
			<div id="header_right">
				{% if request.user.is_authenticated %}
					You are logged in as {{ request.user }} |
					<a href="/logout">Logout</a> |
				{% else %}
					<span id="info_commenting_as" style="visibility: hidden">You are commenting as <a class="current_nickname" href="javascript:changeNickname()"></a> | </span>
					<a href="/register">Register</a> | <a href="/login">Login</a> |
				{% endif %}
				<span id="help"><a href="#" onclick="return false">Help</a></span>
				<div class="tooltip">
					<div class="title">Commands while viewing a PDF</div>
					<div class="content">
						<table>
							<tr>
								<th>Left/Right Arrow</th>
								<td>Move <b>one</b> page left/right</td>
							</tr>
							<tr>
								<th>Ctrl+Left/Right Arrow</th>
								<td>Move <b>5</b> pages left/right</td>
							</tr>
							<tr>
								<th>R</th>
								<td>Reload comments</td>
							</tr>
						</table>
					</div>
				</div> |
				<a href="http://piratepad.net/docucomment">Wishlist</a>
			</div>
			<div id="header_left">
				{% if view = "home" %}
					Docucomment
				{% else %}
					<a href="/">Docucomment</a>
				{% endif %}
				{% block breadcrumb %}{% endblock %}
			</div>
			<div id="header_center">{% block header_center %}{% endblock %}</div>
		</div>
	</div>
	<div id="content">
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}><span>{{ message }}</span></li>
			{% endfor %}
		</ul>
		{% endif %}
	
		{% block body %}{% endblock %}
	</div>
{% endblock %}
