{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}{{document.name}}{% endblock %}

{% block breadcrumb %} &raquo; <span class="current_space_name"><a href="/space/{{space.name}}">{{space.name}}</a></span> &raquo; <span class="current_document_name">{{document.name}}</span><span class="actions"> | <a href="javascript:rename()">Rename</a></span>{% endblock %}

{% block head %}
<script type="text/javascript" src="{% static "slides.js" %}"></script>
<script type="text/javascript">

	var space = "{{ space.name }}";
	var document_hash = "{{ document.hash }}";
	var document_page = "{{ document.page }}";
	var document_name = "{{ document.name }}";

</script>
<script type="text/javascript" src="{% static "comments.js" %}"></script>
{% endblock %}

{% block body %}
	<div id="navigation_documents">
		{% if previous != None %}
			<img src="{% static "first.png" %}"/>
			<a href="/document/{{ previous.hash }}">{{ previous.name }}</a>
		{% endif %}
		{% if previous != None and next != None %} | {% endif %}
		{% if next != None %}
			<a href="/document/{{ next.hash }}">{{ next.name }}</a>
			<img src="{% static "last.png" %}"/>
		{% endif %}
	</div>

	{% include "main/slides.html" %}
	{% include "main/comments.html" %}
{% endblock %}

