{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}{{document.name}}{% endblock %}

{% block breadcrumb %} &raquo; <span class="current_document_name">{{document.name}}</span><span class="actions"> | <a href="javascript:rename()">Rename</a></span>{% endblock %}

{% block head %}
<script type="text/javascript">

	var url = '/document/{{ document.hash }}/file';
	var curpage = 0;
	var pdf;
	var startpage;
	var document_name = "{{document.name}}";

	function displayPage(pagenumber) {
		pdf.getPage(pagenumber).then(function(page) {
			var scale = 1.5;
			var viewport = page.getViewport(scale);
			var canvas = document.getElementById('slide-canvas');
			var context = canvas.getContext('2d');
			canvas.height = viewport.height;
			canvas.width = viewport.width;
			page.render({canvasContext: context, viewport: viewport});
			curpage = pagenumber;
			$("#slide-page").html("Page " + curpage + " of " + pdf.numPages);
			loadComments(pagenumber);
		});
	}

	function gotoPage(page) {
		pushPage(page);
		displayPage(page);
	}

	function loadComments(page) {
		$.getJSON("/document/{{ document.hash }}/page/" + page + "/comments", function(data) {
			$("#comments").empty();
			$.each(data, function(i, comment) {
				var c = $("<div class='comment'></div>");
				var edit_link = $("<a class=\"edit\" href=\"#\">edit</a>").click(function() {
					$("#post-comment #id_nickname").val(comment['nickname_plain']);
					$("#post-comment #id_comment").val(comment['comment_plain']);
					$("#post-comment #comment-cancel").css("display", "inline");
					$("#post-comment #comment-id").val(comment['id']);
					return false;
				});
				var delete_link = $("<a class=\"delete\" href=\"#\">delete</a>").click(function() {
					$.ajax({
						url: '/document/{{ document.hash }}/deletecomment/'+comment['id'],
						type: 'get'
					}).done(function(data) {
						loadComments(curpage);
					});
					return false;
				});
				var head = $("<div class='comment-head'></div>");
				var links = $("<div class='comment-links'></div>");
				$(links).append(delete_link).append(edit_link);
				$(head).append("<span class='comment-nickname'>" + comment['nickname'] + "</span>");
				$(head).append(links);
				$(c).append(head);
				$(c).append("<div class='comment-comment'>" + comment['comment'] + "</div>");

				c.appendTo("#comments");
			});
			MathJax.Hub.Queue(["Typeset", MathJax.Hub, $("#comments")[0]]);
			SyntaxHighlighter.highlight();
		});
	}

	function pushPage(page) {
		window.history.pushState(page, "title", "/document/{{document.hash}}?page="+page);
	}

	function nextPage() {
		if(curpage < pdf.numPages) {
			curpage++;
			gotoPage(curpage);
		}
	}

	function previousPage() {
		if(curpage > 1) {
			curpage--;
			gotoPage(curpage);
		}
	}

	function rename() {
		var newname = window.prompt("Please enter a new name for the document:", document_name);
		if(newname == null || newname.length == 0) { return; }
		$.ajax({
			url: '/document/{{ document.hash }}/rename',
			type: 'post',
			data: {name: newname}
		}).done(function(data) {
			if(data.status == 0) {
				if('name_escaped' in data) {
					document_name = data.name_escaped;
					document.title = document_name;
					$('.current_document_name').html(document_name);
				}
			}
			else {
				var error = 'message' in data ? data.message : 'An unknown error occurred.';
				alert('The document could not be renamed: '+ error);
			}
		});
	}

	$(function() {

		$(document).keydown(function(e) {
			var target = e.target.tagName.toLowerCase();
			if(!e.shiftKey && !e.altKey && target != 'input' && target != 'textarea') {
				if(e.keyCode == 37) {
					// left arrow
					var newpage = curpage;
					if(e.ctrlKey) { newpage -= 5; }
					else          { newpage--; }

					gotoPage(Math.max(1, newpage));
					return false;
				}
				else if(e.keyCode == 39) {
					// right arrow
					var newpage = curpage;
					if(e.ctrlKey) { newpage += 5; }
					else          { newpage++; }

					gotoPage(Math.min(newpage, pdf.numPages));
					return false;
				}
				else if(!e.ctrlKey) {
					if(e.keyCode == 82) {
						// R
						loadComments(curpage);
						return false;
					}
					else if(e.keyCode == 35) {
						// End key
						gotoPage(pdf.numPages);
						return false;
					}
					else if(e.keyCode == 36) {
						// Home key
						gotoPage(1);
						return false;
					}
				}
			}
		});
		$(".prev").click(function() {
			previousPage();
			return false;
		});
		$(".next").click(function() {
			nextPage();
			return false;
		});
		$(".last").click(function() {
			gotoPage(pdf.numPages);
			return false;
		});
		$("#post-comment").submit(function(event) {
			$.ajax({
				url: '/document/{{ document.hash }}/page/' + curpage + '/comment',
				type: "post",
				data: $(this).serialize()
			}).done(function(data) {
				if(data.status == 0) {
					$("#post-comment #id_comment").val("");
					$("#post-comment #comment-id").val("");
					$("#post-comment #comment-cancel").css("display", "none");
					loadComments(curpage);
					setNickname(data.safenick);
				}
				else {
					alert('The comment could not be submitted: '+data.message);
				}
			});
			event.preventDefault();
		});
		$("#post-comment #comment-cancel").click(function() {
			$("#post-comment #id_comment").val("");
			$("#post-comment #comment-id").val("");
			$(this).css("display", "none");
			return false;
		});
		
		window.onpopstate = function(e){
			if(e.state) {
				displayPage(e.state);
			}
			else {
				displayPage(startpage);
			}
		};

		PDFJS.disableWorker = true;
		PDFJS.getDocument(url).then(function(p) {
			pdf = p;
			startpage = Math.max(1,Math.min(p.numPages,{{page}}));
			displayPage(startpage);
		});

		splitCookies();
		if('nickname' in cookies && cookies.nickname.length > 0) {
			setNickname(cookies.nickname);
		}
	});
</script>
{% endblock %}

{% block body %}
	<div id="navigation_documents">
		{% if previous != None %}
			<img src="{% static "first.png" %}"/>
			<a href="/document/{{ previous.hash }}">{{ previous.name }}</a>
		{% endif %}
		{% if previous != None and next != None %} | {% endif %}
		{% if next != None %}
			<a href="/document/{{ next.hash }}">{{ next.name }}</a>
			<img src="{% static "last.png" %}"/>
		{% endif %}
	</div>
	
	<div id="slide-bar">
		<div id="slide-slide">
			<canvas id="slide-canvas"></canvas>
		</div>

		<div class="navigation">
			<a href="javascript:gotoPage(1)" class="first"><img src="{% static "first.png" %}"/></a>
			<a href="" class="prev"><img src="{% static "previous.png" %}"/></a>
			<span id="slide-page">Page 1</span>
			<a href="" class="next"><img src="{% static "next.png" %}"/></a>
			<a href ="" class="last"><img src="{% static "last.png" %}"/></a>
		</div>
		<p>Remember to bookmark this page.</p>
		<p>People uploading the exact same file will be redirected here.</p>
	</div>

	<div id="comments-bar">
		<h2>Comments</h2>
		<div id="comments"></div>

		<h2>New Comment</h2>
		<form id="post-comment" method="post">
			{{ commentForm.as_p }}
			<input type="hidden" id="comment-id" name="id" value=""/>
			<button type="submit">Comment</button>
			<button type="button" id="comment-cancel">Cancel</button>
		</form>
	</div>
	{% endblock %}

