{% extends "main/base.html" %}

{% block title %}{{document.name}}{% endblock %}

{% block head %}
<script type="text/javascript">
	function displayPage(pagenumber) {
		pdf.getPage(pagenumber).then(function(page) {
			var scale = 1.5;
			var viewport = page.getViewport(scale);
			var canvas = document.getElementById('pdf-canvas');
			var context = canvas.getContext('2d');
			canvas.height = viewport.height;
			canvas.width = viewport.width;
			page.render({canvasContext: context, viewport: viewport});
			curpage = pagenumber;
			$("#page").html("Page " + curpage + " of " + pdf.numPages);
			loadComments(pagenumber);
		});
	}

	function gotoPage(page) {
		pushPage(page);
		displayPage(page);
	}

	function loadComments(page) {
		$.getJSON("/document/{{ document.hash }}/page/" + page + "/comments", function(data) {
			$("#comments").empty();
			$.each(data, function(i, comment) {
				var c = $("<div class='comment'></div>");
				var a = $("<a class=\"edit\" href=\"\">edit</a>").click(function() {
					$("#post-comment #id_nickname").val(comment['nickname']);
					$("#post-comment #id_comment").html(comment['comment']);
					$("#post-comment #comment-cancel").css("display", "inline");
					$("#post-comment #comment-id").val(comment['id']);
					return false;
				});
				var head = $("<div class='comment-head'></div>");

				$(head).append("<span class='comment-nickname'>" + comment['nickname'] + "</span>");
				/// editing is not functional yet
				$(head).append(a);
				$(c).append(head);
				$(c).append("<div class='comment-comment'>" + comment['comment'] + "</div>");

				c.appendTo("#comments");
			});
			MathJax.Hub.Queue(["Typeset", MathJax.Hub, $("#comments")[0]]);
		});
	}

	function reloadComments() {
		loadComments(curpage);
	}

	function pushPage(page) {
		window.history.pushState(page, "title", "/document/{{document.hash}}?page="+page);
	}

	var url = '/document/{{ document.hash }}/file';
	var curpage = 0;
	var pdf;
	var startpage;

	function nextPage() {
		if(curpage < pdf.numPages) {
			curpage++;
			gotoPage(curpage);
		}
	}

	function previousPage() {
		if(curpage > 1) {
			curpage--;
			gotoPage(curpage);
		}
	}

	$(function() {

		$(document).keydown(function(e) {
			var target = e.target.tagName.toLowerCase();
			if(!e.ctrlKey && !e.shiftKey && !e.altKey && target != 'input' && target != 'textarea') {
				if(e.keyCode == 37) {
					// left arrow
					previousPage();
					return false;
				}
				else if(e.keyCode == 39) {
					// right arrow
					nextPage();
					return false;
				}
				else if(e.keyCode == 82) {
					// R
					loadComments(curpage);
					return false;
				}
			}
		});
		$(".prev").click(function() {
			previousPage();
			return false;
		});
		$(".next").click(function() {
			nextPage();
			return false;
		});
		$(".last").click(function() {
			gotoPage(pdf.numPages);
			return false;
		});
		$(".comment-edit a").click(function() {
			alert("yes");
			return false;
		});
		$("#post-comment").submit(function(event) {
			console.log(event);
			$.ajax({
				url: '/document/{{ document.hash }}/page/' + curpage + '/comment',
				type: "post",
				data: $(this).serialize()
			}).done(function(data) {
				loadComments(curpage);
			});
			event.preventDefault();
		});
		$("#post-comment #comment-cancel").click(function() {
			$("#post-comment #id_nickname").val("");
			$("#post-comment #id_comment").html("");
			$("#post-comment #comment-id").val("");
			$(this).css("display", "none");
			return false;
		});
		
		window.onpopstate = function(e){
			if(e.state) {
				displayPage(e.state);
			}
			else {
				displayPage(startpage);
			}
		};

		PDFJS.disableWorker = true;
		PDFJS.getDocument(url).then(function(p) {
			pdf = p;
			startpage = Math.max(1,Math.min(p.numPages,{{page}}));
			displayPage(startpage);
		});
	});
</script>
{% endblock %}

{% block body %}
<h1><a href="/">Home</a> &raquo; {{ document.name }}</h1>
<div id="mainbar">
	<h2 id="page">Page 1</h2>
	<div id="pdf_container">
		<canvas id="pdf-canvas"></canvas>
	</div>

	<div style="font-size: 2em" class="navigation"><a href="javascript:gotoPage(1)" class="first">&laquo;</a> <a href="" class="prev">&lsaquo;</a> <a href="" class="next">&rsaquo;</a> <a href ="" class="last">&raquo;</a></div>
	<p>Remember to bookmark this page.</p>
	<p>People uploading the exact same file will be redirected here.</p>
</div>

<div id="sidebar">
	<h2>Comments</h2>
	<div id="comments"></div>

	<h2>New Comment</h2>
	<form id="post-comment" method="post">
		{{ commentForm.as_p }}
		<input type="hidden" id="comment-id" name="id" value=""/>
		<button type="submit">Comment</button>
		<button type="button" id="comment-cancel">Cancel</button>
	</form>
</div>
{% endblock %}
