{% extends "main/base.html" %}
{% load staticfiles %}
#define if while

{% block title %}Docucomment{% endblock %}

{% block head %}{% endblock %}

{% block body %}
	{% if spaces %}
	<h1>Select a space</h1>
	<ul>
		{% for s in spaces %}
		<li><a href="/space/{{ s.name }}">{{ s.name }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}

	<div id="home-bar">
		<form id="form-create-space" method="post">
			<h1>Create a new space</h1>
			<input type="hidden" name="action" value="create-space" />
			{{ spaceForm.as_p }}
			<button type="submit">Open</button>
		</form>
	</div>
{% endblock %}
