{% extends "main/base.html" %}

{% block title %}Docucomment{% endblock %}

{% block body %}
<h1>Documents</h1>
<p>After uploading a document you will be redirected to a secret page. Store its url as a bookmark.</p>
<p>Reuploading the exact same file will lead to the same page.</p>
<form method="post" enctype="multipart/form-data">
	<h2>Upload a document</h2>
	{{ uploadForm.as_p }}
	<button type="submit">Upload</button>
</form>
{% if documents %}
	<ul>
	{% for document in documents %}
		<li>
		{% if document.public %}
			<a href="document/{{ document.hash }}">{{ document.name }}</a></li>
		{% else %}
			{{ document.name }}
		{% endif %}
	{% endfor %}
	</ul>
{% else %}
	<p>No public documents.</p>
{% endif %}

{% if comments %}
	<h2>Latest Comments</h2>
	<ul>
	{% for comment in comments %}
		{% if comment.document.public %}
			<li>{{comment.creation_date}}: <b>{{ comment.nickname }}</b>: {{ comment.comment }} (in {{comment.document.name}} on <a href="document/{{comment.document.hash}}?page={{comment.page}}">page {{comment.page}}</a>) <a href="/deletecomment/{{comment.id}}">x</a></li>
		{% else %}
			<li class="private">{{comment.creation_date}}: <b>{{comment.nickname}}</b> in {{comment.document.name}} on page {{comment.page}}</li>
		{% endif %}
	{% endfor %}
	</ul>
{% endif %}
{% endblock %}
