{% extends "main/base.html" %}

{% block title %}Docucomment{% endblock %}

{% block head %}
<script type="text/javascript">
$(function() {
	$(".comment").click(function() {
		var url = $(this).data("url");
		if(url == undefined) {
			alert("This PDF is private. You must upload it or know its hash to view this comment.");
		}
		else {
			window.location.href = url;
		}
		return false;
	});
});
</script>
{% endblock %}

{% block body %}

	<div id="documents-bar">
		<h2>Documents</h2>
		<form id="form-post-document" method="post" enctype="multipart/form-data">
			<h3>Upload a document</h3>
			{{ uploadForm.as_p }}
			<button type="submit">Upload</button>
		</form>
		{% if documents %}
			<div id="documents">
				<ul>
				{% for document in documents %}
					<li>
					{% if document.public %}
						<a href="document/{{ document.hash }}">{{ document.name }}</a></li>
					{% else %}
						{{ document.name }}
					{% endif %}
				{% endfor %}
				</ul>
			</div>
		{% else %}
			<p>No public documents.</p>
		{% endif %}
	</div>

	<div id="comments-bar">
		{% if comments %}
			<h2>{{comments|length}} Comments</h2>
			<div id="comments">
				{% for comment in comments %}
					{% if comment.document.public %}
						<div class="comment" data-url="document/{{comment.document.hash}}?page={{comment.page}}">
					{% else %}
						<div class="comment">
					{% endif %}

						<div class="comment-head">
							<div class="comment-links">{{comment.document.name}}, page {{comment.page}}</div>
							<span class="nickname">{{comment.nickname}}</span><br/>{{comment.creation_date}}
						</div>
					{% if comment.document.public %}
						<div class="comment-comment">{{comment.comment|safe}}</div>
					{% endif %}
					</div>
				{% endfor %}
			</div>
		{% else %}
			<p>No comments.</p>
		{% endif %}
	</div>

{% endblock %}
