body {
	font-family: sans-serif;
	font-size: 80%;
	margin: 0px;
	padding: 0px;
}

#header {
	width: 100%;
	background-color: #61649D;
	color: white;
	font-weight: bolder;
}

#header div#right {
	float: right;
}

#header a {
	color: #ccf;
}

#header a:hover {
	color: white;
	text-decoration: none;
}

#header-content {
	font-size: 100%;
	padding: 5px;
	margin: 0px auto;
}

#slide-page {
	text-align: center;
}
#slide-canvas {
	border: 1px solid black;
	max-width: 99%;
}
#slide-bar {
	float: left;
	margin: 10px;
}
#slide-slide {
	resize: horizontal;
	width: 600px;
}

#documents-bar {
	float: left;
	width: 500px;
	margin-left: 20px;
}
#documents {
	height: 400px;
	overflow-y: auto;
}

#comments-bar {
	margin-left: 40px;
	float: left;
	width: 400px;
}
#comments {
	height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
}
body.home #comments {
	height: 550px;
}
#comments-bar span.nickname {
	font-weight: bold;
}
.comment {
	margin: 10px 0;
}
.comment-head {
	background: #eef;
	padding: 5px;
}
#comments-bar .comment {
	white-space: normal;
}
div.comment-links {
	float: right;
	display: inline;
}
div.comment-links a {
	margin: 0 0 0 10px;
}
.comment-comment {
	white-space: pre-wrap;
	padding: 5px;
}
div.navigation {
	text-align: center;
	font-size: 1.5em;
}
div.navigation a {
	text-decoration: none;
	margin: 5px;
}
div.navigation img {
	height: 1em;
}
div.navigation {
	vertical-align: middle;
}
div.navigation a:hover {
	background: #eee;
}
button#comment-cancel {
	display: none;
}
ul.comment_list a {
	text-decoration: none;
	color: black;
	display: block;
	padding: 1px;
}
ul.comment_list a:hover {
	background: #eee;
}
textarea {
	height: 100px;
}

.clear {
	clear: both;
}

#form-post-document {
	background: #eef;
	padding: 5px;
}
li.private { color: #aaa; }
