li.private { color: #aaa; }
body {
	font-family: sans-serif;
	font-size: 80%;
}
h2#page {
	text-align: center;
}
#pdf-canvas {
	border: 1px solid black;
	max-width: 99%;
}
#mainbar {
	float: left;
	margin: 10px 20px 10px 0;
}
#pdf_container {
	resize: horizontal;
	overflow: hidden;
	width: 600px;
}
#sidebar {
	float: left;
	width: 400px;
}
#comments {
	overflow: auto;
	height: 200px;
	resize: both;
}
#comments-bar {
	float: right;
	width: 50%;
	max-width: 400px;
	min-width: 200px;
}
#comments-bar span.nickname {
	font-weight: bold;
}
.comment {
	margin: 10px 0;
}
.comment-head {
	background: #eef;
	padding: 5px;
}
#comments-bar h1 {
	text-align: right;
}
#comments-bar .comment {
	white-space: normal;
}
div.comment-links {
	float: right;
	display: inline;
}
div.comment-links a {
	margin: 0 0 0 10px;
}
.comment-comment {
	white-space: pre-wrap;
	padding: 5px;
}
div.navigation a {
	text-decoration: none;
	margin: 5px;
}
div.navigation a:hover {
	background: #eee;
}
button#comment-cancel {
	display: none;
}
ul.comment_list a {
	text-decoration: none;
	color: black;
	display: block;
	padding: 1px;
}
ul.comment_list a:hover {
	background: #eee;
}
